<%= form_with(model: task, local: true) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label "Descripción" %>
      <%= form.text_field :description %>
    </div>
  
    <div class="actions">
      <%= form.submit  "Agregar Tarea"%>
    </div>
  <% end %>