<h1><%=title%></h1>

<%if tasks.count != 0%>
<table>
  <thead>
    <tr>
      <th>Descripción</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr id="task_<%=task.id%>">
        <td><%= task.description %></td>
        <td><%= button_to btn_update, {action: :set_state_task, id: task.id} %></td>
        <td><%= button_to "Eliminar", task, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<h3>
No hay <%= title.downcase%>
</h3>
<%end%>
