<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <%= render 'table', 
                title: "Tareas Pendientes", 
                tasks:  @tasks.where("state_id = ?", State.find_by(code: "NOT READY")),
                btn_update: "Lista?" %>
        </div>
        <div class="col-12">
            <%= render 'table', 
                title: "Tareas Listas", 
                tasks:  @tasks.where("state_id = ?", State.find_by(code: "READY")),
                btn_update: "Oops..." %>
        </div>
    </div>
</div>

<br>

<%= button_to " Nueva Tarea", new_task_path, method: "get" %>

